@import "../../global/global.scss";

.modal__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #fffe;

    border-radius: 8px;
    min-height: 200px;
    padding: 0 16px;

    &.small {
      width: 300px;
    }

    &.medium {
      width: 450px;
    }

    &.large {
      width: 650px;
    }
  }

  &__header {
    width: 100%;
    height: 100%;
    padding: 16px;

    &__message {
      display: flex;
      justify-content: space-between;

      & span {
        font-weight: 500;
        font-size: $font-eighteen;
      }
      padding-bottom: 5px;
      border-bottom: 1px solid $gray-light;
    }
  }

  &__body {
    min-height: 60%;
    overflow-y: scroll;
    max-height: 220px;

    border-bottom: 1px solid $gray-light;

    &__message {
      font-size: $font-eighteen;
      text-align: center;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &.larger-scroll {
      &::-webkit-scrollbar {
        width: 10px;
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray-light;
      border-radius: 30%;

      &:hover {
        background: linear-gradient(to top, $main-red, $dark-red);
      }
    }
  }

  &__footer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
}
